flows.json
[{"id":"16f1b123.b6bbdf","type":"mqtt in","z":"3754a753.818db8","name":"MQTT Payload topic","topic":"ai-stopcontact/plugs/pc_plug/SENSOR","qos":"1","datatype":"auto-detect","broker":"9461aa5f2c9a9e98","nl":false,"rap":false,"inputs":0,"x":390,"y":160,"wires":[["0856b0b76f2496cf","907d212b30393f8b"]]},{"id":"b6d7281e.aa3328","type":"debug","z":"3754a753.818db8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":220,"wires":[]},{"id":"e4786363.dc40d","type":"influxdb out","z":"3754a753.818db8","influxdb":"2ad5f36107cb75c1","name":"Write to InfluxDB school pc","measurement":"school_pc","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":840,"y":160,"wires":[]},{"id":"0856b0b76f2496cf","type":"debug","z":"3754a753.818db8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"907d212b30393f8b","type":"change","z":"3754a753.818db8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ENERGY","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":160,"wires":[["e4786363.dc40d","b6d7281e.aa3328"]]},{"id":"9461aa5f2c9a9e98","type":"mqtt-broker","name":"devbit","broker":"mqtt.devbit.be","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2ad5f36107cb75c1","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"plug_database","name":"plug_database","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]